.page-main__wrapper {
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, 0 0;
  background-color: gray;

  outline: 2px dashed greenyellow;
}

.page-main {
  outline: 2px solid palevioletred;
}
