.radio {
  margin-bottom: 15px;
}

.radio__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: normal;
  }
}

.radio__item {
  position: relative;
  min-width: 280px;
  padding-top: 18px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    min-width: auto;
    padding-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 77px;
    padding-bottom: 35px;
  }
}
