.services__list {
  margin: 0;
  padding-left: 69px;
  height: 100%;
  color: @black;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 0;
  }
}

.services__item {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 133px;
    text-align: center;
  }

  &--house,
  &--present,
  &--burger {
    position: absolute;
    top: 26px;
    left: -48px;
    background-position: 0 0;
    background-repeat: no-repeat;

    path,
    polygon,
    circle,
    rect {
      fill: @main-blue;
    }
  }
}

.services__item--house {
  width: 40px;
  height: 37px;

  @media (min-width: @tablet-width) {
    top: 60px;
    left: 90px;
    width: 75px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    left: 160px;
  }
}

.services__item--present {
  top: 15px;
  left: -44px;
  width: 32px;
  height: 38px;

  @media (min-width: @tablet-width) {
    top: 57px;
    left: 95px;
    width: 64px;
    height: 75px;
  }

  @media (min-width: @desktop-width) {
    left: 167px;
  }
}

.services__item--burger {
  top: 21px;
  left: -52px;
  width: 42px;
  height: 35px;

  @media (min-width: @tablet-width) {
    top: 63px;
    left: 88px;
    width: 76px;
    height: 68px;
  }

  @media (min-width: @desktop-width) {
    left: 160px;
  }
}

.services__item:nth-child(1) {
  @media (max-width: @mobile-width-only) {
    padding-top: 9px;
  }
  order: 0;
}

.services__item:nth-child(2) {
  order: 2;
}

.services__item:last-child {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 35px;
  }
  order: 1;
}

.services__title {
  padding-top: 26px;
  padding-bottom: 16px;
  .title();
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    text-align: center;
  }
}

.services__description {
  margin: 0;
  .font(14px; 21px);
  color: @text-gray;

  @media (min-width: @tablet-width) {
    padding: 8px 32px 0 32px;
  }
}
