.services__list {
  margin: 0;
  padding-left: 69px;
  color: @black;
  background-color: @white;
}

.services__title {
  .title();
  text-align: left;
}

.services__description {
  margin: 0;
  .font(14px; 21px);
}
