.user-comment__textarea,
.user-comment__textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  .title();
  text-align: left;
  text-transform: none;

  background-color: @input-gray;
  border: none;
}

.user-comment__textarea {
  width: 100%;
  height: 160px;
  padding: 0;
}
