.video__title {
  padding-top: 33px;
  .title();
}

.video__description {
  text-align: center;
}

.video__bar {
  background-color: @black;
  opacity: 0.6;
}

.video__buttons {
  background-color: @input-gray;
}
