.development {
  display: flex;
  width: 128px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.development__text {
  display: block;
  margin-right: 13px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
  }
}

.development__link {
  color: @black;

  &:hover {
    color: @main-blue;
  }

  &:focus {
    color: @black-transparent;
  }

  @media (min-width: @tablet-width) {
    padding-top: 44px;
  }
}
