.development {
  display: flex;
  width: 128px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 43px;
  }
}

.development__text {
  display: block;
  margin-right: 13px;
  line-height: 26px;
  text-align: center;
  color: @black;
}

.development__link path {
  fill: @black;
}
