.page-main {
  flex: 1 0 auto;
}

.page-main__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 386px;

  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center top;
  background-size: 100% auto, cover;
  background-color: @bg-blue;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    height: 519.5px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: @desktop-width) {
    height: 524px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
  }
}

.page-main__wrapper--inner {
  min-height: 158px;
  background-position: center bottom, center bottom;

  @media (max-width: @mobile-width-only) {
    background-size: 100% auto, auto;
  }

  @media (min-width: @tablet-width) {
    height: 290px;
  }

  @media (min-width: @desktop-width) {
    height: 304px;
  }
}

.page-main__text {
  width: 282px;
  height: 214px;
  margin-top: 90px;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
    margin-top: 77px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 78px;
  }
}

.page-main__text-logo {
  width: 230px;
  height: auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 457px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
    height: auto;
  }
}
