.page-header {
  display: flex;
  flex-direction: column;
  min-height: 279px;
  position: relative;
  background-color: fuchsia;
}

.page-header__logo {
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-right: -50%;
  transform: translate (-50%, -50%);
}
