.page-body__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  background-color: @white;

  @media (min-width: @desktop-width) {
    width: 1200px;
    box-shadow: 0 5px 15px @shadow;
  }
}
