.site-list {
  .list();
  background-color: @main-blue;

  @media (min-width: @tablet-width) {
    width: 693px;
    margin: 0 auto;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    width: 1340px;
  }

  outline: 3px dotted burlywood;
}

.site-list__item a {
  .title(18px; 40px);
  color: @white;

  @media (min-width: @tablet-width) {
    color: @black;
  }
}
