.site-list {
  .list();
  background-color: @main-blue;
  box-shadow: inset 0 1px 0 @shadow-inset;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 106px 174px 1fr 175px;
    height: 56px;
    align-content: center;
    text-align: right;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 148px 259px 1fr 307px;
  }
}

.site-list__item a {
  .title(18px; 40px);

  @media (max-width: @mobile-width-only) {
    display: block;
    width: 100%;
    height: 56px;
    padding-top: 10px;
    color: @white;
    background-color: @main-blue;
    border-top: 1px solid @shadow;
    border-bottom: 1px solid @shadow-inset;
    box-sizing: border-box;

    &:hover {
      background-color: @medium-blue;
      border-bottom: 1px solid @medium-blue;
    }

    &:focus {
      background-color: @dark-blue;
      color: @special-white;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 26px;
    color: @black;

    &:hover {
      color: @main-blue;
    }

    &:focus {
      color: @black-transparent;
    }
  }
}

.site-list__item--active a {
  @media (max-width: @mobile-width-only) {
    &:hover,
    &:focus {
      background-color: @main-blue;
      color: @white;
      border-bottom: 1px solid @shadow-inset;
    }
  }

  @media (min-width: @tablet-width) {
    color: @active;

    &:hover {
      color: @active-dark;
    }
  }
}

.site-list__item:last-child a {
  @media (max-width: @mobile-width-only) {
    background-image: linear-gradient(180deg, transparent 0%, @menu-shadow 100%);
    background-size: auto 7px;
    background-position: bottom;
    background-repeat: no-repeat;
    border-bottom: none;

    &:hover,
    &focus {
      border-bottom: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding-right: 27px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 70px;
  }
}
