.social__title {
  padding-top: 33px;
  .title(21px; 26px);
}

.social__list {
  .list();
}

.social__link {
  background-color: @main-blue;

  &:hover {
    background-color: @medium-blue;
  }

  &:focus {
    background-color: @dark-blue;
  }
}

.social__link path {
  fill: @white;
}

.social__link:focus path {
  opacity: 0.3;
}
