.social__list {
  .list();
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 156px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    width: auto;
    padding-top: 37px;
  }
}

.social__link {
  display: block;
  width: 46px;
  height: 34px;
  padding-top: 14px;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: @main-blue;
  color: @white;

  &:hover {
    background-color: @medium-blue;
  }

  &:focus {
    background-color: @dark-blue;
    color: @special-white;
  }
}
