// colors
@main-blue: #81B3D2;
@white: #ffffff;
@black: #000000;
@gray: #eeeeee;
@text-gray: #333333;
@input-gray: #F2F2F2;

// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

.title(@font-size: 18px; @line-height: 26px;) {
  font-weight: bold;
  font-size: @font-size;
  line-height: @line-height;
  text-align: center;
  color: @black;
}

.font(@size; @line-height) {
  font-size: @size;
  line-height: @line-height;
}

.list() {
  margin: 0;
  padding: 0;
  list-style: none;
}
