.button {
  .title(21px; 26px);
  color: @white;

  background-color: @main-blue;
  border: none;

  &:hover {
    background-color: @medium-blue;
  }

  &:focus {
    color: @special-white;
    background-color: @dark-blue;
  }

  &:disabled {
    background-color: @medium-gray;
  }
}
